@import "tailwindcss";

@theme {
  --color-green-000: #F5FFFC;
  --color-green-100: #EEFCF8;
  --color-green-200: #E2F7F1;
  --color-green-300: #D0F0E6;
  --color-green-400: #B8E5D8;
  --color-green-500: #99D6C4;
  --color-green-600: #4FB189;
  --color-green-700: #4EAA8F;
  --color-green-800: #2D8E71;
  --color-green-900: #147055;
}
.Buttoncustom {
  @apply bg-green-800 hover:bg-green-600 focus:bg-green-900;
}
.medical-bg::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../public/bg.png");
  background-repeat: repeat;

  /* ช่อง grid */
background-size: 179px 104px;
  /* ย่อไอคอน */
  
  


  z-index: -10;
  opacity: 0.08;
  pointer-events: none;
}
