@import "tailwindcss";

@theme {
  --color-green-000: #F5FFFC;
  --color-green-100: #EEFCF8;
  --color-green-200: #E2F7F1;
  --color-green-300: #D0F0E6;
  --color-green-400: #B8E5D8;
  --color-green-500: #99D6C4;
  --color-green-600: #4FB189;
  --color-green-700: #4EAA8F;
  --color-green-800: #2D8E71;
  --color-green-900: #147055;
}
.Buttoncustom {
  @apply bg-green-800 hover:bg-green-600 focus:bg-green-900 px-8 py-2 rounded-md  text-white cursor-pointer hover:shadow-lg  
}
.medical-bg {
  position: relative;
}

.medical-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../public/bg.png");
  background-repeat: repeat;
  background-size: 179px 104px;
  opacity: 0.08;
  z-index: -1;
  pointer-events: none;
}


